<a href="https://colab.research.google.com/github/kdch1204/Dacon-Practice/blob/main/Week1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
from google.colab import drive
drive.mount('/content/dirve')

Mounted at /content/dirve

In [3]:
import os
import pandas as pd

print(f"현재 디렉토리 위치: {os.getcwd()}")
data_path = '/content/dirve/MyDrive/Dacon school/data/'
train = pd.read_csv(data_path + 'train.csv')
test_x = pd.read_csv(data_path + 'test_x.csv')

현재 디렉토리 위치: /content

In [4]:
train.loc[:,'QaA': 'QtE']

,QaA,QaE,QbA,QbE,QcA,QcE,QdA,QdE,QeA,QeE,...,QpA,QpE,QqA,QqE,QrA,QrE,QsA,QsE,QtA,QtE
0,3.0,363,4.0,1370,5.0,997,1.0,1024,2.0,1577,...,2.0,924,2.0,366,2.0,876,2.0,633,1.0,1115
1,5.0,647,5.0,1313,3.0,3387,5.0,2969,1.0,4320,...,5.0,2414,5.0,1356,1.0,3039,4.0,4304,1.0,1346
2,4.0,1623,1.0,1480,1.0,1021,4.0,3374,5.0,1333,...,1.0,1131,5.0,937,4.0,1327,1.0,1170,1.0,1409
3,3.0,504,3.0,2311,4.0,992,3.0,3245,1.0,357,...,4.0,23868,3.0,581,4.0,8830,4.0,2392,5.0,1312
4,1.0,927,1.0,707,5.0,556,2.0,1062,1.0,1014,...,4.0,1140,5.0,323,5.0,1070,1.0,583,2.0,1889
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45527,2.0,1050,5.0,619,4.0,328,1.0,285,1.0,602,...,4.0,439,2.0,823,1.0,309,5.0,586,4.0,2252
45528,2.0,581,3.0,1353,4.0,1164,1.0,798,3.0,1680,...,4.0,719,2.0,754,3.0,1118,4.0,654,4.0,1197
45529,4.0,593,1.0,857,1.0,1047,4.0,1515,5.0,1690,...,1.0,1200,5.0,473,5.0,1779,3.0,1355,1.0,667
45530,1.0,747,3.0,1331,4.0,892,2.0,1281,1.0,1328,...,1.0,913,4.0,1301,4.0,1680,4.0,737,1.0,1124
45531,3.0,496,5.0,1827,5.0,754,3.0,1117,1.0,432,...,4.0,620,4.0,410,4.0,736,4.0,667,5.0,1665

In [5]:
train.loc[:, 'age_group': 'religion']

,age_group,education,engnat,familysize,gender,hand,married,race,religion
0,30s,2,1,4,Female,1,3,White,Other
1,20s,4,2,3,Female,1,1,Asian,Hindu
2,30s,3,1,3,Male,1,2,White,Other
3,20s,4,2,0,Female,1,1,Asian,Hindu
4,20s,3,1,2,Male,1,2,White,Agnostic
...,...,...,...,...,...,...,...,...,...
45527,10s,2,1,1,Female,3,1,White,Jewish
45528,30s,2,1,2,Male,1,1,White,Atheist
45529,10s,2,1,1,Female,1,1,White,Christian_Other
45530,40s,4,1,2,Male,3,1,White,Atheist
45531,20s,2,1,3,Male,1,1,White,Agnostic

In [6]:
train.loc[:, 'tp01':'tp10']

       tp01  tp02  tp03  tp04  tp05  tp06  tp07  tp08  tp09  tp10
0         2     2     2     1     2     1     7     4     4     3
1         1     1     0     0     1     2     3     4     0     4
2         2     3     1     5     3     4     2     6     1     3
3         2     4     1     1     1     3     1     3     1     3
4         1     1     1     6     0     2     0     6     2     6
...     ...   ...   ...   ...   ...   ...   ...   ...   ...   ...
45527     1     2     6     1     2     6     3     0     6     4
45528     2     2     2     3     1     3     3     4     1     5
45529     4     4     2     4     0     1     0     2     1     6
45530     1     2     0     4     0     1     3     2     2     4
45531     3     2     1     2     3     0     2     3     1     2

[45532 rows x 10 columns]

In [8]:
train.loc[:, [column for column in train.columns if (column.startswith("Q") & column.endswith("A"))]]

,QaA,QbA,QcA,QdA,QeA,QfA,QgA,QhA,QiA,QjA,QkA,QlA,QmA,QnA,QoA,QpA,QqA,QrA,QsA,QtA
0,3.0,4.0,5.0,1.0,2.0,5.0,2.0,4.0,5.0,4.0,4.0,4.0,2.0,5.0,2.0,2.0,2.0,2.0,2.0,1.0
1,5.0,5.0,3.0,5.0,1.0,3.0,1.0,1.0,5.0,3.0,5.0,4.0,1.0,5.0,1.0,5.0,5.0,1.0,4.0,1.0
2,4.0,1.0,1.0,4.0,5.0,1.0,4.0,1.0,3.0,2.0,5.0,5.0,2.0,4.0,2.0,1.0,5.0,4.0,1.0,1.0
3,3.0,3.0,4.0,3.0,1.0,2.0,4.0,3.0,5.0,4.0,3.0,4.0,4.0,4.0,4.0,4.0,3.0,4.0,4.0,5.0
4,1.0,1.0,5.0,2.0,1.0,2.0,1.0,1.0,5.0,5.0,5.0,5.0,4.0,2.0,1.0,4.0,5.0,5.0,1.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45527,2.0,5.0,4.0,1.0,1.0,1.0,1.0,1.0,1.0,4.0,4.0,5.0,4.0,1.0,2.0,4.0,2.0,1.0,5.0,4.0
45528,2.0,3.0,4.0,1.0,3.0,2.0,2.0,1.0,2.0,5.0,2.0,5.0,3.0,2.0,4.0,4.0,2.0,3.0,4.0,4.0
45529,4.0,1.0,1.0,4.0,5.0,4.0,5.0,1.0,5.0,1.0,5.0,5.0,1.0,4.0,1.0,1.0,5.0,5.0,3.0,1.0
45530,1.0,3.0,4.0,2.0,1.0,1.0,1.0,1.0,5.0,1.0,5.0,5.0,4.0,3.0,1.0,1.0,4.0,4.0,4.0,1.0
45531,3.0,5.0,5.0,3.0,1.0,4.0,3.0,3.0,4.0,4.0,5.0,5.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0,5.0

In [9]:
train.loc[:, [column for column in train.columns if (column.startswith("Q") & column.endswith("E"))]]

,QaE,QbE,QcE,QdE,QeE,QfE,QgE,QhE,QiE,QjE,QkE,QlE,QmE,QnE,QoE,QpE,QqE,QrE,QsE,QtE
0,363,1370,997,1024,1577,539,586,1095,1142,1287,883,851,851,816,579,924,366,876,633,1115
1,647,1313,3387,2969,4320,2190,826,4082,1867,1264,2943,3927,4329,1828,1214,2414,1356,3039,4304,1346
2,1623,1480,1021,3374,1333,531,1167,1016,2653,1569,998,2547,918,2153,1304,1131,937,1327,1170,1409
3,504,2311,992,3245,357,1519,159,2275,2809,5614,3219,1296,9046,1216,1169,23868,581,8830,2392,1312
4,927,707,556,1062,1014,628,991,1259,1153,1388,740,1181,547,575,754,1140,323,1070,583,1889
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45527,1050,619,328,285,602,267,315,483,1016,278,611,215,388,299,1915,439,823,309,586,2252
45528,581,1353,1164,798,1680,560,640,1415,4494,1392,2478,1268,843,1401,1524,719,754,1118,654,1197
45529,593,857,1047,1515,1690,1253,1094,1283,2209,1764,1062,1489,1908,891,1298,1200,473,1779,1355,667
45530,747,1331,892,1281,1328,599,650,1429,1748,770,1025,742,4180,707,489,913,1301,1680,737,1124
45531,496,1827,754,1117,432,1422,545,1696,2172,7076,1087,1090,2195,431,914,620,410,736,667,1665

In [10]:
train.filter(regex='Q*A')

,QaA,QbA,QcA,QdA,QeA,QfA,QgA,QhA,QiA,QjA,QkA,QlA,QmA,QnA,QoA,QpA,QqA,QrA,QsA,QtA
0,3.0,4.0,5.0,1.0,2.0,5.0,2.0,4.0,5.0,4.0,4.0,4.0,2.0,5.0,2.0,2.0,2.0,2.0,2.0,1.0
1,5.0,5.0,3.0,5.0,1.0,3.0,1.0,1.0,5.0,3.0,5.0,4.0,1.0,5.0,1.0,5.0,5.0,1.0,4.0,1.0
2,4.0,1.0,1.0,4.0,5.0,1.0,4.0,1.0,3.0,2.0,5.0,5.0,2.0,4.0,2.0,1.0,5.0,4.0,1.0,1.0
3,3.0,3.0,4.0,3.0,1.0,2.0,4.0,3.0,5.0,4.0,3.0,4.0,4.0,4.0,4.0,4.0,3.0,4.0,4.0,5.0
4,1.0,1.0,5.0,2.0,1.0,2.0,1.0,1.0,5.0,5.0,5.0,5.0,4.0,2.0,1.0,4.0,5.0,5.0,1.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45527,2.0,5.0,4.0,1.0,1.0,1.0,1.0,1.0,1.0,4.0,4.0,5.0,4.0,1.0,2.0,4.0,2.0,1.0,5.0,4.0
45528,2.0,3.0,4.0,1.0,3.0,2.0,2.0,1.0,2.0,5.0,2.0,5.0,3.0,2.0,4.0,4.0,2.0,3.0,4.0,4.0
45529,4.0,1.0,1.0,4.0,5.0,4.0,5.0,1.0,5.0,1.0,5.0,5.0,1.0,4.0,1.0,1.0,5.0,5.0,3.0,1.0
45530,1.0,3.0,4.0,2.0,1.0,1.0,1.0,1.0,5.0,1.0,5.0,5.0,4.0,3.0,1.0,1.0,4.0,4.0,4.0,1.0
45531,3.0,5.0,5.0,3.0,1.0,4.0,3.0,3.0,4.0,4.0,5.0,5.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0,5.0